@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter text-darkGray overflow-x-hidden;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
}

@layer components {
  .bg-header::after {
    @apply content-[''] absolute top-0 left-0 w-full h-full -z-10 rounded-b-[35px];
    background: linear-gradient(
      290.1deg,
      #d6e6fe 0%,
      rgba(214, 252, 254, 0) 100%
    );
  }

  .bg-solution::after {
    @apply content-[''] absolute top-0 left-0 w-full h-full -z-10 opacity-25;
    background: linear-gradient(
      290.1deg,
      #d6e6fe 0%,
      rgba(214, 252, 254, 0) 100%
    );
  }

  .radio-label {
    @apply w-full flex justify-start items-center cursor-pointer relative;
  }

  .radio-input {
    @apply w-0 h-0 opacity-0 absolute;
  }

  .mark-container {
    @apply flex justify-center items-center w-8 h-8 mr-4 relative;
  }

  .radio-mark {
    @apply w-8 h-8 border-2 border-lightGray rounded-[50%];
  }

  .radio-input:checked ~ .mark-container .radio-mark {
    @apply w-4 h-4 bg-blue border border-blue shadow-customBlue;
  }
}
